* {
  font-family: "SauceCodeProNerdFontCompleteMono Nerd Font";
}

window {
  margin: 0px;
  border: 2px solid #60B48A;
  background-color: #2C2C2C;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#input {
  margin: 12px 12px;
  border: none;
  color: #72D5A3;
  font-weight: 700;
  background-color: #3a3a3a;
  border-radius: 0.7rem;
}

#inner-box {
  margin-left: 9px;
  margin-right: 9px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2c2c2c;
  border-radius: 0.7rem;
  margin-bottom: 15px;

}

#text {
  margin: 5px;
  border: none;
  color: #fff;
  border-radius: 0.7rem;
  text-shadow: 0 0 2.4px #DCDCDC;
}

#entry.activatable #text {
  background-color: #2C2C2C;
}

#entry > * {
  color: #72D5A3;
  margin-left: -0.08rem;
}
#entry:selected > * {
  color: #000000;
  margin-left: 1.8rem;
}

#entry:selected {
  background-color: #DFAF8F;
  color: #000000;
  box-shadow: rgba(96, 196, 139, 0.24) 0px 3px 6px;
  border-radius: 0.7rem;
}

#entry:selected #text {
  font-weight: 700;
  color: #3a3a3a;
}
